<h1><%= best_in_place collection, :name, :type => :input %></h1>
    <%= form_for([collection, Qr.new], :html => { :class => 'form-inline pull-right' }) do |f| %>
    <td><%= f.text_field :qr_name, placeholder:'QR name'%></td> 
    <td><%= f.submit "Add new QR", class:'btn btn-primary'%></td>
    <% end %>
    <ul class="nav nav-pills" data-tabs="tabs">
  <li class="active"><a data-toggle="pill" href="#qrs">QRs</a></li>
  <li><a data-toggle="pill" href="#profiles">Profiles</a></li>
</ul>




<div class="tab-content">
  <div class="tab-pane active" id="qrs">

    <% if collection.qrs.size == 0 %>
    You have no tags created yet. Enter a name for your new tag and then click on "Add new QR" to create it:<br>
      <% end %>
      <% collection.qrs.each do |qr| %>
      <div class="well">
        <div class="header">
         <div class="pull-right">
          <div class="pull-left">
           <%= link_to url_for(:action => 'download', :controller => :qrs, :id => qr.id) , class: "pull-left " do%><i class="icon-download"></i>Download QR image<% end %><br>
           <%= link_to [collection, qr], method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-left " do%><i class="icon-remove-sign"></i>Remove QR<% end %><br>
         </div>
        </div>
         <div>
           <%= image_tag("http://chart.apis.google.com/chart?cht=qr&chl=#{url_for(:action => :go, :controller => :qrs, :id => qr.id, :only_path => false)}&chs=120x120&choe=UTF-8", :size => "120x120")%>
           <%= best_in_place qr, :qr_name, :type => :input, :classes => :qrtitle, :path => [collection, qr] %>
         </div>
       </div>
       <table class="table table-condensed">
        <tr>
          <th>Resource Name</th>
          <th>Profile</th>
          <th>Content</th>

          <th></th>
        </tr>
                <tr>
          <%= form_for([collection, qr, Resource.new], :html => { :class => 'form' }) do |f| %>

          <td><%= f.text_field :name, placeholder:'The name of your resource'%></td>
          <td><%= f.collection_select :profile_id, collection.profiles, :id, :name, :include_blank => 'Uncategorized' %></td>
          <td><%= f.select :content_type, {"URL" => "url", "Text" => "text", "Image" => :image, "Video" => :video} %></td>
          <td><%= f.submit "Add", class:'btn btn-primary'%></td>
          <% end %>
        </tr>
        <% qr.resources.each do |resource| %>
        <tr>
          <td><%= best_in_place resource, :name, :type => :input, :path => [collection, qr, resource] %></td>
          <td><%= best_in_place resource, :profile_id, :type => :select, :path => [collection, qr, resource], :collection => ([["", "Uncategorized"]] + collection.profiles.collect{|f| [f.id, f.name]}) %></td>
          <td><%# best_in_place resource, :uri, :type => :input, :path => [collection, qr, resource] %>
            <%= ({"URL" => "url", "Text" => "text", "Image" => :image, "Video" => :video}).key(resource.content_type) %> 
            <%= link_to "(edit)", edit_collection_qr_resource_path(collection, qr, resource) %>
          </td>
          <td width="20px">
            <%= link_to collection_qr_resource_path(collection, resource.qr_id, resource), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-primary btn" do %>
            <i class="icon-remove icon-white"></i>
            <% end %>
          </td>
        </tr>
        <% end %>

      </table>

<%=
maps = qr.localizations.all.to_gmaps4rails do |user, marker|
  marker.infowindow render :partial => "place", :locals => {:place => user, :collection => collection, :qr => qr}
end

gmaps(:markers => {:data => maps}, :map_options => {auto_adjust: true, :id => "map"+qr.id.to_s})
%>
 <%= form_for([collection, qr, Localization.new], :html => { :class => 'form', "data-map" => "map"+qr.id.to_s }) do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :address %>
 <% end %>
          <td><div class="form-inline" style="text-align: right;"><%= text_field_tag :address, nil, placeholder:'Place address', "data-map" => "map"+qr.id.to_s%>
            <%= button_tag "Search", class:'btn btn-primary btn-search-map', "data-map" => "map"+qr.id.to_s %></div></td>

</div>
    </div>
    <% end %>

  <div class="tab-pane" id="profiles">
    <table class="table table-condensed">
      <tr>
        <th>Profile Name</th>
        <th>Remove</th>
      </tr>
            <tr>
        <%= form_for([collection, Profile.new], :html => { :class => 'form' }) do |f| %>
        <td><%= f.text_field :name, placeholder:'Profile name'%></td>    <%= f.hidden_field :collection_id, :value => collection.id %>

        <td><%= f.submit "Add new profile", class:'btn btn-primary'%></td>
        <% end %>
      </tr>

      <% collection.profiles.each do |profile| %>
      <tr>
        <td><%= best_in_place profile, :name, :type => :input, :path => [collection, profile] %></td>
        <td width="20px">
          <%= link_to collection_profile_path(collection, profile), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" do %>
          <i class="icon-remove icon-white"></i>
          <% end %>
        </td>
      </tr>

      <% end %>



    </table>
  </div>
</div>
<%= link_to collection, method: :delete, data: { confirm: 'Are you sure? This will remove all the QRs inside the collection.' }, class: "pull-right btn btn-primary" do%><i class="icon-white icon-remove-sign"></i>Remove collection<% end %>


<script>

$('.best_in_place').tooltip({
  title: "Click to edit!",
  placement: "right"
})

$('.btn-search-map').on("click", function() {
  console.log("lol!");
  mapname = $(this).data('map');
  gmap = Gmaps[mapname];
  search = $('input[data-map='+mapname+']').val();
  console.log(search);

  document.geocoder.geocode({'address': search},
    function(results, status) {
      if(status == google.maps.GeocoderStatus.OK) {
        gmap.map.fitBounds(results[0].geometry.viewport);
        gmap.resultdata = results[0];
        gmap.searchresult = new google.maps.Marker({
          position: results[0].geometry.location,
          map: gmap.map
        });

        var text = results[0].formatted_address;
        var button = $('<button class="btn btn-primary" data-map="'+mapname+'">Add this place</button>');

        button.on('click', function() {
          var form = $('form[data-map='+mapname+']');
          console.log(form);
          form.children('#localization_latitude').val(results[0].geometry.location.lat());
          form.children('#localization_longitude').val(results[0].geometry.location.lng());
          form.children('#localization_address').val(results[0].formatted_address);
          form.submit();
        })
        gmap.searchresultinfo = new google.maps.InfoWindow({content: button[0]});
        google.maps.event.addListener(gmap.searchresult, 'click', function() {
          gmap.searchresultinfo.open(gmap.map,gmap.searchresult);
        });  

        gmap.searchresultinfo.open(gmap.map,gmap.searchresult);       
      }else{
        alert("Place not found: "+status);
      }
    })
})

$(function() {
  document.geocoder = new google.maps.Geocoder();
})
</script>