<div class="container">
    <div class="page-header">
        <%= form_for(Collection.new, :html => { :class => 'form-inline pull-right' }) do |f| %>
            <%= f.text_field :name, placeholder:'Collection name'%></td> 
            <%= f.button "Add a new collection", type: "submit", class:'btn btn-primary' do %><%end%>
        <% end %>
        <h1>Your collections</h1>
    </div>
<% if @collections.size == 0 %>
<h2>You have no collections. Add your first collection by using the label on the top!</h2>
<% end %>



<% @collections.each do |collection| %>
 
<div class="well container">
  <div class="pull-left"><h3><%= link_to collection_path(collection) do %><%=collection.name %><% end %></h3><%= pluralize(collection.qrs.count, "QR") %>, <%= pluralize(collection.qrs.count, "profile") %></div>
  <div class="pull-right">
    <%= link_to edit_collection_path(collection), :class => ['btn-primary btn btn-large'] do %><i class="icon-edit icon-white"></i>Edit<% end %>
    <%= link_to collection, method: :delete, :class => ['btn-primary btn btn-large'], data: { confirm: 'Are you sure? This will remove all the QRs inside the collection.' } do %><i class="icon-white icon-remove-sign"></i>Remove<% end %>
 
  </div></div>
<% end %>


</div>
</div>
