<div class="container">
    <div class="page-header">
        <%= form_for(Collection.new, :html => { :class => 'form-inline pull-right' }) do |f| %>
            <%= f.text_field :name, placeholder:'Collection name'%></td> 
            <%= f.button "Add a new collection", type: "submit", class:'btn btn-primary' do %><%end%>
        <% end %>
        <h1>Your collections</h1>



    </div>
<% if @collections.size == 0 %>
<h2>You have no collections. Add your first collection by using the label on the top!</h2>
<% end %>
<div class="row">

    <div class="span12">
        <div class="row">
            <% @collections.each do |coll| %>
                <div class="span2 well">
                    <div>
                    <h2><%= coll.name %></h2>
                    <%= pluralize(coll.qrs.count, "QR") %>, <%= pluralize(coll.profiles.count, "profile") %>
                    <ul class="nav nav-list">
                    <li>
                        <%= link_to collection_path(coll), :class => [] do %>
                            <i class="icon-chevron-right"></i></i>Edit QRs
                        <% end %>
                    </li>
                    <li>
                        <%= link_to coll, method: :delete, data: { confirm: 'Are you sure? This will remove all the QRs inside the collection.' } do %>
                            <i class="icon-chevron-right"></i>Remove
                        <% end %>
                    </li>
                    </ul>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>
</div>