<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="actions">
      <%= f.label :name %>
      <%= f.text_field :name %>
    <%= f.submit %>
  </div>
-->

<!-- Visualización mejor -->
<div class="span12 center">
   <div class="control-group">
        <h2><%= f.label 'Profile Name:', class:"control-label"%></h2><br>
          <div class="controls">
            <h2> <%= f.text_field :name, placeholder:'The name of the profile'%></h2><br>
          </div>
      </div>


<% end %>
