
  <div class="tab-pane" id="profiles">
    <table class="table table-condensed">
      <tr>
        <th>Profile Name</th>
        <th>Remove</th>
      </tr>

      </tr>

      <% @collection.profiles.each do |profile| %>
      <tr>
        <td><%= best_in_place profile, :name, :type => :input, :path => [@collection, profile] %></td>
        <td width="20px">
          <%= link_to collection_profile_path(@collection, profile), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" do %>
          <i class="icon-remove icon-white"></i>
          <% end %>
        </td>
      </tr>

      <% end %>

            <tr>
        <%= form_for([@collection, Profile.new], :html => { :class => 'form' }) do |f| %>
        <td><%= f.text_field :name, placeholder:'New profile name'%></td>    <%= f.hidden_field :collection_id, :value => @collection.id %>

        <td><%= f.submit "Add new profile", class:'btn btn-primary'%></td>
        <% end %>

    </table>