<%= form_for(@qr) do |f| %>
  <% if @qr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qr.errors.count, "error") %> prohibited this qr from being saved:</h2>

      <ul>
      <% @qr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<!--REGARDING QRS -->

  <%= f.fields_for :qrs do |qr| %>
    <div class="well">
    <%= f.label :qr_name %><br />
    <%= f.text_field :qr_name %>

     <!--%= f.label :qr_name %> <%= qr.text_field :qr_name %>-->
    <!-- <%= f.label :default_resource %> <%= qr.text_field :default_resource %>-->
     <%= f.fields_for :resources do |builder| %>
    <%= render "resources_fields", :f => builder %>
  <% end %>
   </div>

   <% end %>


<!--REGARDING RESOURCES -->
<!--
  <%= f.fields_for :resources do |resource| %>
    <div class="well">
    <%= resource.blank? %>
     <%= f.label :name %> <%= resource.text_field :name %>
     <%= f.label :uri %> <%= resource.text_field :uri %>
   </div>
   <% end %>

  <div class="field">
    <%= f.label :default_resource %><br />
    <%= f.text_field :default_resource %>
  </div>
-->



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
