
<div class="well">
  <h2> Resource </h2>
  <div class="field">
    <%= f.label 'Resource Name' %><br />
    <%= f.text_field :name, placeholder:'The name of your resource', default:'No resources asociated' %>
  </div>
  <div class="field">
    <%= f.label 'Resource Content' %><br />
    <%= f.text_field :uri, placeholder:'Insert an URL (e.g. www.google.com)' %>
  </div>
  <div class="field">
    <%= f.label :profile %><br />
    <%= f.collection_select :profile_id, current_user.profiles, :id, :name, :include_blank => 'Uncategorized' %>
  </div>
</div>

