
<div class="well">
<p>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :image_location %><br />
    <%= f.text_field :image_location %>
  </div>
</p>
</div>
