
<p>
	<table class="table table-hover">
	  <tr>
	    <th>Name</th>
	    <th>Uri</th>
	    <th>Image location</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @resources.each do |resource| %>
	  <tr>	    <td><%= resource.name %></td>
	    <td><%= resource.uri %></td>
	    <td><%= resource.image_location %></td>
	    <td><%= link_to 'Show', qr_resource_path(resource.qr, resource) %></td>
	    <td><%= link_to 'Edit', edit_qr_resource_path(resource.qr, resource) %></td>
	    <td><%= link_to 'Destroy', qr_resource_path(resource.qr, resource), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>


</p>

<%= link_to 'New Resource', new_qr_resource_path(@qr) %>