
<h1>Your List of TAGS</h1>

<table>
  <tr>
    <th>Default resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<div class="span8">
  <!--We select all the qrs of the current_user-->
  <% @qrs=current_user.qrs(params[:id])%>

  <% @qrs.each do |qr| %>

      <tr>
        <td>TAG ID: <%= qr.id%></td>
        <td><%= link_to 'Show', qr %></td>
        <td><%= link_to 'Edit', edit_qr_path(qr) %></td>
        <td><%= link_to 'Destroy', qr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Download', url_for(:action => 'download', :id => qr.id) %> </td>
      </tr>

  <% end %>

</table>

<%= link_to 'New Qr', new_qr_path %>

</div>

<br/>

