

<p id="notice"><%= notice %></p>

<div class="well">
<p><b>This is a QR code <%=@qr.id%>: <%=@qr.qr_name%></b></p>
</b></p>

<%= image_tag("http://chart.apis.google.com/chart?cht=qr&chl=#{@qr_uri}&chs=120x120&choe=UTF-8", :size => "120x120")%>


<p>
	<%= link_to 'Download', url_for(:action => 'download', :id => @qr.id) %> |
	<%= link_to 'Edit', edit_qr_path(@qr) %>
</p>

<%= render 'resources_index'%>