<% provide(:title, @user.name) %>
<body>
    <div class= "span1">
            <%= gravatar_for @user %>
            <centering>
              <%= @user.name %>
            </centering>
    </div>
    <div class= "span8">
      <h1>Personalize, group into collections and print your TAGS</h1>
    </div>



  <!--Listing the QRS that belong to current_user-->

    <% @qrs.each do |qr| %>

    <div class ="qrresourcesbox span12"> <!--Engloba QR divs + Resources div-->

        <div class = "qrbox span6">
              <div class = "span2">
                 <h3>TAG Name: <%= qr.qr_name %><h3>
                  <%= image_tag("http://chart.apis.google.com/chart?cht=qr&chl=#{qr.default_resource}&chs=120x120&choe=UTF-8", :size => "120x120")%>
              </div>
              <div class = "span4">
                   <%= link_to 'Edit', edit_qr_path(qr) %>  |
                    <%= link_to 'Remove', qr, method: :delete, data: { confirm: 'Are you sure?' } %> | 
                  <%= link_to 'Download', url_for(:action => 'download_qr', :id => qr.id) %>
              </div>
        </div>
      

        <div class = "resourcesbox span4">
            <table class="table table-condensed">
               <tr>
                <th>Resource Name</th>
                <th>URL</th>
                <th>Manage</th>
              </tr>
              <% qr.resources.each do |resource| %>
              <tr>
                <td><%= resource.name %></td>
                <td><%= resource.uri %></td>
                <td>
                  <%# link_to 'Show', qr_resource_path(resource.qr, resource) %>
                  <%= link_to  edit_qr_resource_path(resource.qr_id, resource) do %>
                    <i class="icon-edit"></i>
                    <% end %>
                  <%= link_to qr_resource_path(resource.qr_id, resource), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="icon-remove"></i>
                  <% end %>
                </td>
              </tr>
          
              <% end %>
            </table>
        </div>
  </div>
    <% end %>
  <br><br>
    <div class="span10">
      <%= link_to "New TAG", new_qr_path%><href="#NewTag" data-toggle="tab">
    </div>
  </br> </br> 
</body>