<% provide(:title, @user.name) %>
<body>
    <div class= "span1">
            <%= gravatar_for @user %>
            <centering>
              <%= @user.name %>
            </centering>
    </div>
    <div class= "span8">
      <h1>Personalize, group into collections and print your TAGS</h1>
    </div>

<div id="profiles-window" class="modal hide fade"> 
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit profiles</h3>
  </div>
  <div class="modal-body">
         <table class="table table-condensed">
               <tr>
                <th>Profile name</th>
                <th>Manage</th>
              </tr>
              <% @profiles.each do |profile| %>
              <tr>
                <td><%= profile.name %></td>
                <td>
                    <%= link_to edit_profile_path(profile), class: "btn" do %>
                    <i class="icon-edit"></i>
                    <% end %>
                  <%= link_to profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" do %>
                    <i class="icon-remove"></i>
                  <% end %>
                </td>
              </tr>
          
              <% end %>
            </table>

               <%= form_for(@new_profile, {:html => {:class => "form-inline"}}) do |f| %>

<%= f.text_field :name %>
<%= f.submit(:class => "btn") %>
                <% end %>       
                </div>    
              </div>
  <% if @new_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @new_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--Listing the QRS that belong to current_user-->
    <% if @qrs.any? %>
        <% @qrs.each do |qr| %>

        <div class ="qrresourcesbox span12"> <!--Engloba QR divs + Resources div-->

            <div class = "qrbox span6">
                  <div class = "span2">
                     <h3>TAG Name: <%= qr.qr_name %><h3>
                      <%= image_tag("http://chart.apis.google.com/chart?cht=qr&chl=#{url_for(:action => :go, :controller => :qrs, :id => qr.id, :only_path => false)}&chs=120x120&choe=UTF-8", :size => "120x120")%>
                  </div>
                  <div class = "span4">
                       <%= link_to 'Edit', edit_qr_path(qr) %>  |
                        <%= link_to 'Remove', qr, method: :delete, data: { confirm: 'Are you sure?' } %> | 
                      <%= link_to 'Download', url_for(:action => 'download_qr', :id => qr.id) %>
                  </div>
            </div>



            <div class = "resourcesbox span4">


                <table class="table table-condensed">
                   <tr>
                    <th>Resource Name</th>
                    <th>URL</th>
                     <th>Profile</th>
                    <th>Manage</th>
                  </tr>
                  <% qr.resources.each do |resource| %>
                  <tr>
                    <td><%= resource.name %></td>
                    <td><%= resource.uri %></td>
                    <td><%= resource.profile != nil ? resource.profile.name : "(none)" %></td>

                    <td>
                      <%# link_to 'Show', qr_resource_path(resource.qr, resource) %>
                      <%= link_to edit_qr_resource_path(resource.qr_id, resource), class: "btn" do %>
                        <i class="icon-edit"></i>
                        <% end %>
                      <%= link_to qr_resource_path(resource.qr_id, resource), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" do %>
                        <i class="icon-remove"></i>
                      <% end %>

                    </td>
                  </tr>

                  
                  <% end %>

                  <tr>
                    <td><b>Add new resource!</b></td>
                    <td></td>
                    <td>
                      <%= link_to new_qr_resource_path(qr.id), class: "btn" do %>
                      <i class="icon-plus-sign" align="right"></i>
                      <% end %>
                    </td>
    
                  </tr>
                </table>
            </div>
           </div>
        <% end %>
        
            <div class = "qrbox span6 offset4" align="center">
                  <div class = "span2">
                     <h3>Add a new TAG/<h3>
                      <%= link_to new_qr_path, class: "btn" do %>
                      <i class="icon-plus-sign" align="right", size= "120px"></i>
                      <% end %>
                  </div>
            </div>
            <div class = "qrbox span6 offset4" align="center">
                  <div class = "span2">
                     <h3>Add or edit your profiles</h3>
                      <a data-toggle="modal" data-target="#profiles-window" class="btn"><i class="icon-edit" align="right", size= "120px"></i></a>

                  </div>
                </div>           
             <div class = "qrbox span6 offset4" align="center">
                  <div class = "span2">
                     <h3>Export your tags</h3>
                         <a href="<%= user_path({:format => :json}) %>" class="btn"><i class="icon-edit" align="right", size= "120px"></i></a>

                  </div>
            </div>
         
  <% else %>


    <div class= "span8 offset1" align="center">
        <br/><br/>
        <h2>You don't have any TAG yet!!! Click on New Tag to start creating your TAGS. </h2>
    </div>
    <div class = "qrbox span6 offset4" align="center">
                  <div class = "span2">
                     <h3>Add a new TAG<h3>
                      <%= link_to new_qr_path, class: "btn" do %>
                      <i class="icon-plus-sign" align="right", size= "120px"></i>
                      <% end %>
                  </div>
            </div>
  <% end %>
</body>
