<% provide(:title, @user.name) %>
<body>
    <div class= "span1">
            <%= gravatar_for @user %>
            <centering>
              <%= @user.name %>
            </centering>
    </div>
    <div class= "span8">
      <h1>Personalize, group into collections and print your TAGS</h1>
    </div>



  <!--Listing the QRS that belong to current_user-->
    <% if @qrs.any? %>
        <% @qrs.each do |qr| %>

        <div class ="qrresourcesbox span12"> <!--Engloba QR divs + Resources div-->

            <div class = "qrbox span6">
                  <div class = "span2">
                     <h3>TAG Name: <%= qr.qr_name %><h3>
                      <%= image_tag("http://chart.apis.google.com/chart?cht=qr&chl=#{url_for(:action => :go, :controller => :qrs, :id => qr.id, :only_path => false)}&chs=120x120&choe=UTF-8", :size => "120x120")%>
                  </div>
                  <div class = "span4">
                       <%= link_to 'Edit', edit_qr_path(qr) %>  |
                        <%= link_to 'Remove', qr, method: :delete, data: { confirm: 'Are you sure?' } %> | 
                      <%= link_to 'Download', url_for(:action => 'download_qr', :id => qr.id) %>
                  </div>
            </div>
        

            <div class = "resourcesbox span4">

                <table class="table table-condensed">
                   <tr>
                    <th>Resource Name</th>
                    <th>URL</th>
                    <th>Manage</th>
                  </tr>
                  <% qr.resources.each do |resource| %>
                  <tr>
                    <td><%= resource.name %></td>
                    <td><%= resource.uri %></td>
                    <td>
                      <%# link_to 'Show', qr_resource_path(resource.qr, resource) %>
                      <%= link_to edit_qr_resource_path(resource.qr_id, resource), class: "btn" do %>
                        <i class="icon-edit"></i>
                        <% end %>
                      <%= link_to qr_resource_path(resource.qr_id, resource), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" do %>
                        <i class="icon-remove"></i>
                      <% end %>

                    </td>
                  </tr>

                  
                  <% end %>

                  <tr>
                    <td><b>Add new resource!</b></td>
                    <td></td>
                    <td>
                      <%= link_to new_qr_resource_path(qr.id), class: "btn" do %>
                      <i class="icon-plus-sign" align="right"></i>
                      <% end %>
                    </td>
    
                  </tr>
                </table>
            </div>
           </div>
        <% end %>
        
            <div class = "qrbox span6 offset4" align="center">
                  <div class = "span2">
                     <h3>Add a new TAG<h3>
                      <%= link_to new_qr_path, class: "btn" do %>
                      <i class="icon-plus-sign" align="right", size= "120px"></i>
                      <% end %>
                  </div>
            </div>
         
  <% else %>


    <div class= "span8 offset1" align="center">
        <br/><br/>
        <h2>You don't have any TAG yet!!! Click on New Tag to start creating your TAGS. </h2>
    </div>
    <div class = "qrbox span6 offset4" align="center">
                  <div class = "span2">
                     <h3>Add a new TAG<h3>
                      <%= link_to new_qr_path, class: "btn" do %>
                      <i class="icon-plus-sign" align="right", size= "120px"></i>
                      <% end %>
                  </div>
            </div>
  <% end %>
</body>