<% provide(:title, @user.name) %>


<div class="column">
  <aside class="span2">
    <section>
      <h1> 
        <%= gravatar_for @user %>
       <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<h2>Personalize, group into collections and print your TAGS</h2>

  <% @qrs.each do |qr| %>

    <tr>
      <h2><p><td>TAG ID: <%= qr.default_resource%></td></p><h2>
      <%= image_tag("http://chart.apis.google.com/chart?cht=qr&chl=#{qr.default_resource}&chs=120x120&choe=UTF-8", :size => "120x120")%>

      <p>
        <!--<%= link_to 'Show', @qr %> -->
        <td><%= link_to 'Edit', edit_qr_path(qr) %></td>  |
        <td><%= link_to 'Destroy', qr, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <td><%= link_to 'Download', url_for(:action => 'download_qr', :id => qr.id) %> </td>
      </p>_
    </tr>
    
  <% end %>


<%= link_to "New TAG", new_qr_path%><href="#NewTag" data-toggle="tab">
