<%= form_for([@qr.collection, @qr, @resource],:html => { :class => 'form' }) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :name %>
<%= f.hidden_field :profile %>
<span>
<label for="resource_content_type">Content type:
<%= f.select :content_type, {"URL" => "url", "Text" => "text", "Image" => :image, "Video" => :video} %></label> 
<%= hidden_field_tag :orig_content_type, "lol" %>
</span>

 <div class="well"><fieldset>
 <% if @resource.content_type == "url" %>
  <label>URL to go to:</label> <%= f.text_field :uri, :class => "input-block-level" %>
 <% end %>


<% if @resource.content_type == "video" %>
  <label>YouTube URL:</label> <%= f.text_field :uri, :class => "input-block-level" %>
 <% end %>
<% if @resource.content_type == "image" %>
  <label>Image URL:</label> <%= f.text_field :uri, :class => "input-block-level" %>
 <% end %>

 <% if @resource.content_type == "text" %>
 Text/HTML to show:
  <%= f.text_area :uri, class: 'editable input-block-level', placeholder: "Text goes here" %>
 <% end %>
 </fieldset> 
  
</div>
      <%= f.submit "Save", class:'btn btn-primary pull-right'%>

  <% end %>


</div>

</form>                            
 <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>

<script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
                                   data-aloha-plugins="common/ui,
                                                        common/format,
                                                        common/list,
                                                        common/link,
                                                        common/highlighteditables">
              </script>
              <!-- load the Aloha Editor CSS styles -->
              <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
 <script>Aloha.ready( function() {
                            var $ = Aloha.jQuery;
                            $('.editable').aloha();
                     });

 $('#resource_content_type').on("change", function(){
  if(confirm("Editing the content type will remove the current contents of the resource. Are you sure you want to continue?")) {
    $('#resource_uri').val("");
    $('form').submit();
  }else{
    $('#resource_content_type').val($('#orig_content_type').val());
  }

 });
  </script>