<%= form_for([@qr, @resource],:html => { :class => 'form' }) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="control-group">
      <%= f.label 'Resource Name:', class:"control-label" %><br />
        <div class="controls">
          <%= f.text_field :name, placeholder:'The name of your resource'%>
        </div>
    </div>


    <div class="control-group ">
      <%= f.label 'Resource Content:', class:"control-label" %><br />
      <div class="controls">
        <%= f.text_field :uri, placeholder:'Insert an URL (e.g. http://www.google.com) ATENTION: Add the http://' %>
      </div>
    </div>
      <div class="field">
    <%= f.label :profile %><br />
    <%= f.collection_select :profile_id, current_user.profiles, :id, :name, :include_blank => 'Uncategorized' %>


  </div>

    <div class="actions">
      <%= f.submit "Submit", class:'btn'%>
    </div>
  <% end %>
</form>
