<div class="container">
    <a href='<%= url_for :action => :go, :controller => :qrs, :id => @resource.qr.id %>' class="btn btn-primary">Back</a>
    
    <a href='<%= url_for action: :comments, controller: :resources, id: @resource.id %>' class="btn btn-primary pull-right">
<%= @comments.size %> comments</a>
<% if @resource.content_type == 'url' or @resource.content_type == 'video' %>
<iframe width=100% height=100% src="<%= @resource.uri %>"></iframe>
<% end %>

<% if @resource.content_type == 'image' %>
<img src="<%= @resource.uri %>"/>
<% end %>

<% if @resource.content_type == 'text' %>
<div class="well">
    <%= @resource.uri %>
</div>
<% end %>
</div>
