<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Uri:</b>
  <%= @resource.uri %>
</p>

<p>
  <b>Image location:</b>
  <%= @resource.image_location %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
